.vscode/
__pycache__/
*.ipynb_checkpoints
.DS_Store
.venv

# Dataset
*logs/
data/*
!data/example_data
!data/*.py
!data/csv
!data/csv10
# !data/FaceForensics

#checkpoint
*.pth
*.pt
train_cifar.py
train_teacher_cifar.py

