numpy
pyyaml
pandas
barbar
requests
matplotlib
Pillow==8.2.0
opencv-python
albumentations
scikit-learn
tensorboard
torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
torch-summary
pretrainedmodels
efficientnet_pytorch
facenet-pytorch